.header {
    height: 100vh;
    min-height: 50rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
    &__title {
        font-size: 8rem;
    }
}