@import "components/fonts";
@import "components/resetcss";
@import "components/animations";
@import "components/variables";

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.page {
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #714d69;
    background: linear-gradient(-45deg, #e7a9b1,#c16f78,#e7a9b1,#c16f78);
    background-size:  400% 400%;
    animation: bgchange 7s ease-in-out infinite;
}
.container {
    max-width: 130rem;
    margin: 0 auto;
    z-index: 3;
}

a {
    text-decoration: none;
    color: #714d69;
}

@import "components/navbar";
@import "components/header";
@import "components/about";
@import "components/gallery";
@import "components/contacts";
@import "components/footer";
@import "components/btns";



